@use '../utils/vars' as *;

.logo {
    font-family: $font_raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 30.52px;
    letter-spacing: 0.78px;

    &__item--blue {
        color: $blue;
    }
}

.footer span.logo__item {
    color: white;
}
