@use '../utils/vars' as *;
@use './mixins' as *;
@use './buttons' as *;


section {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    

    & h2 {
        text-align: center;
        color: $dark;
        font-size: 36px;
        font-family: $font_roboto;
        font-weight: 700;
        letter-spacing: 1.08px;
    }
}

.slots__icon {
    @include setFlex();

    height: 994px;
    
    @media screen and (min-width: 721px) and (max-width: 1200px) {
        @include setFlex(row, space-between, center);
        height: auto;
    }
    
    @media screen and (min-width: 1200px) {
        @include setFlex(row, space-between, center);
        height: auto;
    }
    flex-wrap: wrap;
    margin-bottom: 94px;
    font-family: $font_roboto;

    &__item {

        width: 100%;
        max-width: 450px;
        
        @media screen and (min-width: 721px) and (max-width: 1200px) {
            width: 354px;
            max-width: 50%;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 251px;
            margin-top: 0px;
        }

        &__media {
            width: 100%;
            height:120px;
            background-color:rgba(245, 244, 250, 1);
            @include setFlex();
        }

        &__title {
            text-align: center;
            @media screen and (min-width: 1200px) {
                text-align: left;
            }

            color: $dark;
            width: 100%;
            margin-top: 30px;
        }

        &__description {
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16.41px;
            font-style: medium;
            color: $grey;
        }
    }

}

.slots__img {
    @include setFlex(column, space-between, center);
    height: 900px;
    
    @media screen and (min-width: 1200px) {
        @include setFlex(row, space-between, center);
        height: auto;
    }
    margin-top: 50px;

    &__item {
        position: relative;

        &__header {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 70px;
            @include setFlex();
            background: $grey;

            & p {
                color: $white;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.42px;
                text-transform: uppercase;
            }
        }
    }
}

.section__our-team {
    background-color: #F5F4FA;
    
    padding-left: 15px;
    padding-right: 15px;

    .slots__container {
        margin-top: 50px;
        height: 2761px;

        @include setFlex(column, space-between, center);

        @media screen and (min-width: 721px) and (max-width: 1200px) {
            @include setFlex(row, space-between, center);
            height: 1102px;
        }

        @media screen and (min-width: 1200px) {
            height: auto;
            @include setFlex(row, space-between, center);
            margin-bottom: 0px;
        }

        flex-wrap: wrap;

        &__item {
            @include setFlex();
            flex-wrap: wrap;

            width: 100%;
            height: 622px;

            @media screen and (min-width: 721px) and (max-width: 1200px) {
                width: 354px;
                max-width: 50%;
                height: 536px;
                padding: auto;
            }

            @media screen and (min-width: 1200px) {
                width: 270px;
                height: 428px;
            }
            
            background-color: $white;

            &__title {
                width: 100%;
                text-align: center;
                color: $dark;
            }

            &__description {
                width: 100%;
                text-align: center;
                color: $grey;
            }

            &__socials {
                width: 206px;
                margin-bottom: 20px;
                @include setFlex(row, space-around, center);

                &__item {
                    width: 44px;
                    height: 44px;
                    position: relative;
                    border-radius: 50%;
                    transition: .25s;

                    & svg {
                        fill: $grey;
                        @include setCenter();
                    }
                }

                &__item:hover {
                    background-color: $blue;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: .25s;
                }

                &__item:hover svg{
                    fill: white;
                } 
            }
        }
    }
}

.container__logos {
    @include setFlex(row, space-between, center);

    &__item {
        @include setFlex();
        border-radius: 4px;
        border: 1px solid $grey;
        width: 170px;
        height: 92px;
        flex-shrink: 0;
        margin-top: 50px;
        cursor: pointer;

        &__icon {
            fill: $grey;
        }
    }

    &__item:hover {
        border-radius: 4px;
        border: 1px solid $blue;
        
    }

    &__item:hover svg{
        fill: $blue
    }
}

.filters__container {
    @include setFlex(row, space-between, center);
    width: 572px;
    margin-left: auto;
    margin-right: auto;

    &__button {
        border-radius: 4px;
        background-color: rgba(245, 244, 250, 1);
        height: 38px;
        padding-left: 22px;
        padding-right: 22px;
        color: $dark;
        text-align: center;
        font-size: 16px;
        font-family: $font_roboto;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.48px;
        border-style: none;
        cursor: pointer;
    }

    &__button:hover {
        cursor: pointer;
        background-color: $blue;
        color: rgba(255, 255, 255, 1);
    }
}

.offer__container {
    @include setFlex(row, space-between, center);
    flex-wrap: wrap;

    &__slot {
        @include setFlex();
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
        width: 370px;
        height: 404px;
        border: 1px solid #EEE;
        background: $white;
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

        &__description {
            position: absolute;
            top:294px;
            left:0;
            width: 100%;
            height: 294px;
            background-color: $blue;

            & p {
                color: $white;
                font-size: 18px;
                font-family: $font_roboto;
                line-height: 28px;
                letter-spacing: 0.54px;
                margin:49px 45px 49px 24px;
            }
        }

        &__content {
            width: 100%;
            height: 110px;
            @include setFlex(column, center, center);
            background-color: $white;
            padding:24px 20px;
            z-index: 10;
            cursor: pointer;

            & h3 {
                color: $dark;
                font-size: 18px;
                font-family: $font_roboto;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 1.08px;
            }

            & p {
                color: $grey;
                font-size: 16px;
                font-family: $font_roboto;
                line-height: 30px;
                letter-spacing: 0.48px;
            }
        }
    }

    &__slot:hover .offer__container__slot__description{
        top:0
    }
}